body{
    background-color: rgb(0, 98, 123);
    background-image: url(background2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

h1{
    font-family: 'Noto Serif', serif;
    color: white;
    font-size: 40pt;
    
}

.title{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 1em;
    
}

#classics{
    font-family: 'Nobile', sans-serif;
    font-weight: 400;
    font-size: 25pt;
    color: white;

}

p{
    font-family: 'Nobile', sans-serif;
    color: white;
    font-size: 20pt;
    padding-left: 0.5em;
}