body{
    background-color: rgb(0, 78, 109);
    background-image: url(background-2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

h1{
    font-family: 'Noto Serif', serif;
    color: white;
    font-size: 40pt;
}

h2{
    font-family: 'Noto Serif', serif;
    color: white;
    font-size: 25pt;
}

.title1 {
    text-align: center;
    padding-bottom: 1em;
    padding-left: .5em;

    /* display: flex;
    flex-direction: column;
    border: 1px solid lightblue;
    align-content: flex-start;
    padding-left: 1em;
    flex-wrap: nowrap;
    justify-content: space-between;
    */
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

#main-title #subtitle{
    float: center;
    height: 40px;
}    

/*#subtitle{
    float: top;
    height: 40px;
} */

/* #classics{
    font-family: 'Nobile', sans-serif;
    font-weight: 400;
    font-size: 25pt;
    color: white;
} */




p{
    font-family: 'Nobile', sans-serif;
    color: white;
    font-size: 15pt;
    padding: 0em 3em 3em 3em;
    text-align: center;
}

@media screen and (min-width: 400px) {
    .column {
      width: 100%;
    }
  }

.button{
    background-color: white;
    border: none;
    color: #982065;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Noto Serif', serif;
    font-size: 20pt;
    border-radius: 2px;
    width: 350px;
    height: 120px; 
    transition: background-color .3s ;
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px #ababab;
}

.schedule-button{
    text-align: center;
}

.button:hover {
    background-color: #982065;
    color: #ffffff;
}

.button:active {
    background-color: #982065;
    box-shadow: 0 5px #ababab;
    transform: translateY(4px);
}